@using AspNetStoreProject.Models

@model ProductsListViewModel

@* 
@model IQueryable<Product> *@

@foreach (var p in Model.Products ?? Enumerable.Empty<Product>())
{
	<article>
		<h3>@p.Name</h3>
		<p>@p.Description</p>
		<p>@p.Price.ToString("c")</p>
	</article>
}


<div page-model="@Model.PagingInfo" page-action="Index"></div>